###############################################################################
#
# NOFFLE news server config file
#
###############################################################################

# Remote news server. Format: <hostname>[:<port>] [<user> <pass>]
# (<user> and <pass> only for servers with authentication,
# the password may not contain white-spaces)

server news


# Mail address for failed postings

#mail-to root


# Never get more than <max-fetch> articles. Discard oldest, if there are more

max-fetch 300


# Automatically remove groups from fetch list if they have not been
# accessed for <n> days.

auto-unsubscribe no
#auto-unsubscribe-days 30


# Parameter for thread mode. Retrieve articles, if they are referencing an
# article that has been read within the last <n> days

thread-follow-time 7


# Timeout for connecting to remote server in seconds.

connect-timeout 30


# Automatically put groups on fetchlist, if someone accesses them.
# Mode can be: full, thread, over

auto-subscribe no
#auto-subscribe-mode over


# Remove/replace Message-ID in posted articles. For generating Message-IDs,
# the domain name of your system should be a valid domain name.
# If you are in a local domain, set it to your provider's domain name.

remove-messageid no
replace-messageid yes

# Set the default expire period in days
default-expire 14

# Expire all alt.* groups after 2 days, except for alt.oxford.*
# expire after 4 days and alt.oxford.talk never expire.
#expire alt.oxford.talk 0
#expire alt.oxford.* 4
#expire alt.* 2

# Appearing here, this is equivalent to 'default-expire 20' above. If it
# appeared before the other expire lines, all groups would be
# expired at 20 days, as it would be the first custom match
# for every group.
#expire * 20
